@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Microsoft YaHei", 微软雅黑, "Hiragino Sans GB", Helvetica, Arial, 宋体, "Lucida Grande", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: PingFang SC, Helvetica Neue, Helvetica, STHeitiSC-Light, Microsoft YaHei, Arial, sans-serif;
  font-size: 10px;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100% !important;
  vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
i,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
}

a:hover,
a:focus {
  outline: none;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

button {
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0 none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0
}

textarea, input {
  background: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

input[type=password] {
  -webkit-text-security: disc;
}

textarea:focus, input:focus, button:focus {
  outline: 0
}

body {
  word-wrap: break-word;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

//* {
//  -webkit-box-sizing: content-box;
//  -moz-box-sizing: content-box;
//  box-sizing: content-box;
//}
//
//:before,
//:after {
//  -webkit-box-sizing: content-box;
//  -moz-box-sizing: content-box;
//  box-sizing: content-box;
//}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input, textarea {
  -webkit-appearance: none;
}

a, input {
  outline: none;
}

input, textarea, keygen, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 11px BlinkMacSystemFont;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.clear:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

* html .clear {
  height: 1%;
}

/*IE6*/
*:first-child + html .clear {
  min-height: 1px;
}

/*IE7*/
